.treasure-news {
    display: flex;
    border: 50px;
    flex-direction: column;
}
.treasure-news div {
    margin: 100px;
    background-color: #ffffff;
}
.treasure-news table {
    border: 1px solid #333;
}
