<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Treasure Gram
        </title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/treasure-news.css') }}">
        <script type="module" src="{{ url_for('static', filename='js/news.js') }}"></script>
    </head>
    <body>
        <header>
            <a href="/treasure-user.html">
                <h1>Личная информация</h1>
            </a>
            <a href="#" class="selected-page">
                <h1>Лента новостей</h1>
            </a>
            <a href="/treasure-map.html">
                <h1>Карта</h1>
            </a>
        </header>
        <div id="treasure-post">
            <h3>
                Post your feelings
            </h3>
            <div class="form">
                <h2>Topic</h2>
                <input class="treasure-input" id="treasure-post-topic" type="text" name="adress">

                <h2>Message</h2>
                <textarea class="treasure-input" id="treasure-post-placeholder"
                    rows="5"
                    cols="60"
                    name="new-post"></textarea>

                <button class="treasure-input" id="treasure-post-button" type=button>
                    New post
                </button>
            </div>
        </div>

        <div id="treasure-news-placeholder">
            <h3>
                News
            </h3>
            {% for post in posts %}
            <div>
                <h2>
                    {{ post.topic }}
                </h2>
                <div class="treasure-post-content">
                    <pre>{{ post.content }}<pre>
                </div>
            </div>
            {% endfor %}
            <div>
                <h2>
                    First News
                </h2>
                <div class="treasure-post-content">
                    <table>
                        <tr>
                            <td>kek</td>
                            <td>lol</td>
                        </tr>
                        <tr>
                            <td>kik</td>
                            <td>lil</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <h2>
                    Second News
                </h2>
                <div class="treasure-post-content">
                    <ul>
                        <li> kek </li>
                        <li> lol </li>
                        <li> lol </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
