<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Treasure Gram
        </title>
        <!-- icon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/treasure-user.css') }}">
    </head>
    <body>
        <header>
            <a href="#" class="selected-page">
                <h1>Личная информация</h1>
            </a>
            <a href="/index.html">
                <h1>Лента новостей</h1>
            </a>
            <a href="/treasure-map.html">
                <h1>Карта</h1>
            </a>
        </header>
        {% if logged == "Yes" %}
            {% if session == "Ok" %}
            <div id="treasure-logged-form">
                <h1>
                    <p>
                    Your name: {{ username }}
                    <p>
                </h1>
                <img src="{{ url_for('static', filename='img/map-html.jpeg') }}"
                alt="Choice" usemap="#choicemap">

                <map name="choicemap">
                    <area shape="rect" coords="0, 0, 200, 100" 
                                        href="http://localhost:5000/quit">
                    <area shape="rect" coords="0, 100, 200, 200"
                                        href="http://localhost:5000/api/users">
                    <area shape="rect" coords="0, 200, 200, 300"
                                       href="http://localhost:5000/api/posts">
                </map>
            </div>
            {% else %}
            <div class="tresure-session-message">
                <h3> Your session is expired </h3>
                <a href="/treasure-user.html">
                    <h3> Go to login </h3>
                </a>
            </div>
            {% endif %}

        {% else %}
            <div id="treasure-enter">
                <a href="treasure-login/login">
                    <h1> Log In </h1>
                </a>
                <a href="treasure-login/register">
                    <h1> New account </h1>
                </a>
            </div>
        {% endif %}
    </body>
</html>
