<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Treasure Gram
        </title>
        <!-- icon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/treasure-user.css') }}">
    </head>
    <body>
        <header>
            <a href="#" class="selected-page">
                <h1>Личная информация</h1>
            </a>
            <a href="index.html">
                <h1>Лента новостей</h1>
            </a>
            <a href="treasure-map.html">
                <h1>Карта</h1>
            </a>
        </header>
        <form class="treasure-login">
            <input type="login" name="login">
            <input type="password" name="password">
        </form>
    </body>
</html>
